# Optional physical LCD menu. Include this file after first_layer_squish.cfg.

[menu __main __squish]
type: list
name: Squish calibration

[menu __main __squish __start_pla]
type: command
name: Start PLA
enable: {not printer.first_layer_squish.is_active}
gcode: FIRST_LAYER_SQUISH FILAMENT=PLA

[menu __main __squish __start_tpu]
type: command
name: Start TPU
enable: {not printer.first_layer_squish.is_active}
gcode: FIRST_LAYER_SQUISH FILAMENT=TPU

[menu __main __squish __start_abs]
type: command
name: Start ABS
enable: {not printer.first_layer_squish.is_active}
gcode: FIRST_LAYER_SQUISH FILAMENT=ABS

[menu __main __squish __more001]
type: command
name: More squish .01
enable: {printer.first_layer_squish.is_active}
gcode: TESTZ Z=-0.01

[menu __main __squish __less001]
type: command
name: Less squish .01
enable: {printer.first_layer_squish.is_active}
gcode: TESTZ Z=0.01

[menu __main __squish __more005]
type: command
name: More squish .05
enable: {printer.first_layer_squish.is_active}
gcode: TESTZ Z=-0.05

[menu __main __squish __less005]
type: command
name: Less squish .05
enable: {printer.first_layer_squish.is_active}
gcode: TESTZ Z=0.05

[menu __main __squish __next]
type: command
name: Print next square
enable: {printer.first_layer_squish.state == "waiting"}
gcode: NEXT

[menu __main __squish __select]
type: input
name: Select square {menu.input|int}
enable: {printer.first_layer_squish.is_active}
input: {printer.first_layer_squish.printed_count}
input_min: 1
input_max: {printer.first_layer_squish.printed_count}
input_step: 1
gcode: SQUISH_SELECT SQUARE={menu.input|int}

[menu __main __squish __accept]
type: command
name: Accept and save
enable: {printer.first_layer_squish.state == "complete"}
gcode: ACCEPT

[menu __main __squish __abort]
type: command
name: Abort
enable: {printer.first_layer_squish.is_active}
gcode: ABORT
